<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html dir="rtl">
<head runat="server">
    <title>video games website</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        img.menu {
            width:100px;
            height:50px
        }
    </style>
</head>
<body>
    שלום <%=Session["username"]%>
    <center>
        <table border="1" style="height: 625px; width: 90%; background-color:silver">
            <tr style="height: 70px">
                <td style="text-align: center">
                    <font style="color:royalblue; font-size: 50px">
                        <img src="Images/תמונת%20כותר%20לאתר.png" /></font>
                </td>
            </tr>
         <tr height="100px">
             <td style="text-align: center">
                    <a href="Home.aspx"><img src="Images/home.png"  class="menu"/></a>
                    <a href="Page9.aspx"><img src="Images/info.png" class="menu"/></a>
                    <a href="Register.aspx"><img src="Images/register3.png"  class="menu"/></a>
                    <a href="LogIn.aspx"><img src="Images/login2.png"  class="menu"/></a>
                    <a href="Page3.aspx"><img src="Images/gallery2.png"   class="menu"/></a>
                    <a href="Manager.aspx"><img src="Images/manager.png"  class="menu"/></a>
                    <a href="item_temp.aspx"><img src="Images/reviews.png" class="menu"</a>
                    <a href="Search.aspx"><img src="Images/search.png"  class="menu"/></a>
                    <a href="Page7.aspx"><img src="Images/update_info.png"  class="menu"/></a>
                    <a href="Page8.aspx"><img src="Images/exit.png"  class="menu"/></a>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
        </table>
    </center>

</body>
</html>
